.home {
    width: 100vw;

    .tabs-wrapper {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 10px;

        .tabs {
            width: 100%;
            padding: 10px;
        }

        .tab {
            font-weight: bolder !important;
        }

    }

    .documents-wrapper {
        margin-top: 20px;

        .document-card {
            width: 100%;
        }
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }



}